
body {

	font-family: "Roboto", sans-serif;
	margin: 0px;
}


@media (min-width: 481px) {


	.header {

		padding: 70px 30px 20px 0px;
		width: 100%;
		text-align: center;
		height: 20vh;
		color: white;
		font-size: 6vh;
		background-color: rgb(90, 191, 57);
		margin-bottom: 5px;

	}

	.row {

		clear: both;
	}

	.img-responsive {

		max-width: 100%;
		margin-top: 30px;
		display: block;
		margin: auto;

	}

	.cell-m {

		float: left;
		width: 33%;
		padding: 90px 50px 0px 90px; 
		box-sizing: border-box;

	}

}

@media (max-width: 480px) {

	.header {

		padding: 20px;
		width: 100%;
		background-color: rgb(90, 191, 57);
		text-align: center;
		height: 20vh;
		color: white;
		font-size: 4vh;
		padding: 70px 30px 20px 0px;
	}



	.cell-s {

		padding: 10px 50px 10px 50px; 
		box-sizing: border-box;
		display: block;
		max-width: 85%;
		margin-left: 15%;

	}

	.row {

		clear: both;
	}

	.img-responsive {

		max-width: 100%;
		margin-top: 30px;

	}
}



