body {

	margin: 0px;
}

.img-responsive {

	max-width: 100%;
	margin: auto;
	padding: 10px;
	display: block;
	
}


.row {

	clear: both;
}


.cell-up {

	width: 100%;
	background-color: lightgreen;
	text-align: center;
	height: 100px;

}

.cell-left {

	float: left;
	width: 33%;
	padding: 0px 20px 0px 20px; 
	box-sizing: border-box;
}

.cell-main {

	float: left;
	width: 33%;
	padding: 0px 20px 0px 20px; 
	box-sizing: border-box;
}

.cell-right {

	float: left;
	width: 33%;
	padding: 0px 20px 0px 20px; 
	box-sizing: border-box;
}